.grid {
    display: grid;
    grid-template-areas: "head head"
                        "menu main"
                        "foot foot";
    grid-column-gap: 100px;
    grid-row-gap: 10px;
}
.a  {
    grid-area: head;
    background-color: blue;
}
.b  {
    grid-area: menu;
    background-color: red;
}
.c  {
    grid-area: main;
    background-color: green;

}
.d  {
    grid-area: foot;
    background-color: orange;
}