.grid {
    display: grid;
    grid-template-areas: "head head" "menu main" "foot foot";
    height: 200px;
    /* justify-items:stretch; */
    align-items: stretch;
    justify-content: center;
    align-content: right;
}

.a {
    grid-area: head;
    /* align-self: start; */
    background-color: blue;
}

.b {
    grid-area: menu;
    /* align-self: end; */
    background-color: red;
}

.c {
    grid-area: main;
    background-color: green;
}

.d {
    grid-area: foot;
    background-color: orange;
}