html, body {
    width: 100%;
}

.container {
    display: grid;
    width: 760px;
    height: 50%;
    grid-template-areas: "navigation navigation" "banner banner" "main sidebar" "footer footer";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: .7fr 2fr 3fr .8fr;
}

.container>div {
    border: 1px dashed #888;
}

.navigation {
    grid-area: navigation;
}

.banner {
    grid-area: banner;
    background-image: url(images/headers/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    font-size: 12px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: underline;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #ff0000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.banner_derecha {
    position: relative;
    top: 70px;
    left: 600px;
}

.footer .derecha {
    padding: 5px;
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    color: coral;
}

.navigation li#about, .navigation li#about a {
    width: 71px;
    height: 50px;
    background-image: url("images/nav/about.gif");
}

.navigation li#services, .navigation li#services a {
    width: 84px;
    height: 50px;
    background-image: url("images/nav/services.gif");
}

.navigation li#portfolio, .navigation li#portfolio a {
    width: 95px;
    height: 50px;
    background-image: url("images/nav/portfolio.gif");
}

.navigation li#contact, .navigation li#contact a {
    width: 95px;
    height: 50px;
    background-image: url("images/nav/contact2.gif");
}