 html, body, .grid-container {
     height: 100%;
     margin: 0;
 }

 .grid-container * {
     /* border: 1px solid red; */
     position: relative;
 }

 .grid-container *:after {
     content: attr(class);
     position: absolute;
     top: 0;
     left: 0;
 }

 .grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 2fr 1fr 1fr;
     grid-template-areas: "nav nav nav nav" "banner banner banner banner" "main main main siderbar" "foot foot foot foot";
 }

 .nav {
     grid-area: nav;
 }

 .banner {
     grid-area: banner;
 }

 .main {
     grid-area: main;
 }

 .sidebar {
     grid-area: sidebar;
 }

 .foot {
     grid-area: foot;
 }